body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
}

.header img {
  width: 110px;
  height: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

.headerbutton button {
  font-size: 14px;
  margin-left: 300px;
  margin-top: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Raleway";
  width: 142px;
  height: 48px;
  background-color: #fd810a;
  color: white;
  border-style: none;
}

.location {
  display: flex;
  padding-left: 250px;
  padding-top: 40px;
  width: 36px;
  height: 36px;
  top: 53px;
  align-items: center;
}

.location_details {
  white-space: nowrap;
  margin-top: 3px;
  padding-left: 10px;
}

.location_details p {
  max-height: 5px;
}

.mail {
  display: flex;
  padding-left: 300px;
  padding-top: 40px;
  width: 36px;
  height: 36px;
  top: 53px;
  left: 735px;
  border-radius: 100px;
  align-items: center;
  margin-left: 30px;
}

.mail_details {
  padding-left: 10px;
  margin-top: 3px;
}

.mail_details p {
  max-height: 5px;
}

.headertags {
  justify-content: space-between;
  background-color: #fd810a;
}

.nav-item .nav-link {
  padding-left: 40px;
  color: white;
}

.nav-item-1 .nav-link {
  color: white;
}

.nav-link img {
  padding-bottom: 5px;
}

.background-wrapper {
  background-color: #0e0e37d6;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container {
  color: white;
}

.background-container {
  margin-top: 50px;
  position: relative;
  width: 580px;
  height: 750px;
  top: 50px;
  background-color: #515151;
}

.pop-out-image {
  position: absolute;
  top: 400px;
  right: -110px;
  width: 400px;
}

.image-container {
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features {
  margin-top: 200px;
  margin-left: 100px;
}

.features p {
  width: 600px;
  top: 1117px;
  left: 975px;
}

.unordered-list {
  display: flex;
  justify-content: left;
  line-height: 50px;
}

.unordered-list2 {
  padding-left: 110px;
}

.features-button {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Raleway";
  width: 129px;
  background-color: #fd810a;
  border-style: none;
}
.row img {
  width: 160px;
  height: 40px;
}

.first-container p {
  width: 532px;
  left: 255px;
  font-family: "Roboto";
}

.first-container .heading {
  width: 380px;
}

.first-container .content {
  width: 670px;
  font-family: "Raleway";
}

.custom-progress {
  width: 600px;
}

.colored-container {
  width: 422px;
  height: 500px;
}
.contact-no img {
  padding-right: 20px;
  padding-top: 30px;
  width: 80px;
  height: 80px;
  top: 2912px;
  left: 255px;
}

.contact-details {
  padding-top: 30px;
}

.contact-details p {
  margin-top: 5px;
  max-height: 10px;
}

.outer-container {
  margin-top: 200px;
}

.progress-text {
  line-height: 2px;
  padding-top: 40px;
}

.final-word-1 {
  margin-left: 560px;
  font-family: "Raleway";
}

.final-word-2 {
  margin-left: 570px;
  font-family: "Raleway";
}

.final-word-3 {
  margin-left: 480px;
  font-family: "Raleway";
}

.text-container {
  text-align: center;
}

.text-container .award-no {
  color: #fd810a;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.text-container .award-details {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.recent-project {
  background-color: #f8fbff;
  margin-top: 100px;
  padding-top: 130px;
  width: 1920px;
  height: 630px;
}

.project-intro {
  text-align: center;
}

.project-intro p {
  padding-bottom: 40px;
}

.project-intro h1 {
  width: 690px;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

.project-content {
  width: 670px;
  font-family: "Raleway";
  font-size: 16px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

.block {
  margin-top: 20px;
  height: 310px;
  background-color: #515151;
}

.block3 {
  margin-top: 20px;
  height: 310px;
  background-color: #0e0e37cc;
  color: white;
}

.block-details {
  padding-top: 160px;
  padding-left: 20px;
}

.block-details h4 {
  font-size: 20px;
}

.block-details p {
  font-size: 14px;
  font-family: "Raleway";
}

.faq-section {
  margin-top: 150px;
}
.bg-block {
  position: relative;
  width: 643px;
  height: 430px;
  background-color: #515151;
}

.company-history {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 2px;
}

.client-testimonial h6 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.08em;
  text-align: left;
}

.text-start {
  width: 523px;
  height: 130px;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
}

.client-overview {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #515151;
}

.client-review img {
  width: 70px;
  height: 70px;
}

.feedback-text {
  width: 344px;
  height: 180px;
  padding-top: 40px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #515151;
  box-shadow: 100px;
}

.client-image img {
  width: 100px;
  height: 160px;
  padding-top: 50px;
}

.background-wrapper2 {
  background-color: #0e0e37d6;
  height: 75vh;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.service-container h1 {
  width: 799px;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  margin: auto;
  color: white;
}

.service-desc {
  padding-top: 20px;
  padding-bottom: 100px;
  width: 648px;
  height: 48px;
  margin: auto;
  font-family: "Raleway";
  line-height: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
}

.service-button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Raleway";
  width: 129px;
  background-color: #fd810a;
  margin: auto;
}

.button-block {
  width: 15px;
  height: 12px;
  background-color: #0e0e37;
}

.button-block-2 {
  width: 15px;
  height: 12px;
  background-color: #0e0e37;
  padding-left: 20px;
}

.button-block-1 {
  width: 34px;
  height: 12px;
  top: 8765px;
  left: 918px;
  background-color: #fd810a;
  padding-left: 20px;
}

.button-block-3 {
  width: 15px;
  height: 12px;
  background-color: green;
  padding-left: 20px;
}

.blocks {
  padding-top: 30px;
}

.team-profile {
  margin-top: 80px;
}

.project-intro h2 {
  width: 600px;
  height: 130px;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  margin: auto;
}

.bg-color-1 {
  position: relative;
  background-color: #515151;
  height: 400px;
  margin-right: 30px;
}

.social-media {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 200px;
  width: 50px;
}

.bg-color-2 {
  position: relative;
  background-color: #515151;
  height: 400px;
  padding-left: auto;
  margin-right: 30px;
}
.bg-color-3 {
  position: relative;
  background-color: #515151;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 150px;
}

.background-wrapper3 {
  background-color: #0e0e37d6;
  height: 805px;
  max-width: 100%;
  align-items: center;
  margin-top: 60px;
  color: white;
}

.contactus {
  padding-top: 150px;
}

.contactus p {
  width: 619px;
  height: 50px;
  left: 255px;
}

.contactus h1 {
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  width: 619px;
  height: 130px;
  top: 7167px;
  left: 255px;
}

.contact-desc {
  padding-top: 20px;
}

.contactus {
  position: relative;
}

.custom-container {
  position: absolute;
  background-color: white;
  width: 690px;
  height: 749px;
  top: 6939px;
  left: 975px;
  color: black;
}

.form-container {
  position: absolute;
  background-color: white;
  top: -70px;
  left: 700px;
  width: 500px;
}

.form-group {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-heading {
  width: 574px;
  left: 320px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.CTA {
  width: 1410px;
  height: 425px;
}

.footer-desc {
  width: 608px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
}

.master {
  width: 660px;
  height: 660px;
  left: 1007px;
  padding-left: 300px;
}

.footer-button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Raleway";
  width: 129px;
  background-color: #fd810a;
  margin-top: 60px;
}

.social-icons img {
  width: 3px;
  height: 3px;
}

.footer {
  width: 1920px;
  height: 741px;
}
